extends layout 

block content 
  h1=title 

  ul 
    each book in book_list
      li 
        a(href=book.url) #{book.title}
        div.px-5 
         each author in book.author
            p #{author.name}
    else 
      li There are no books